*.cshrc
*.tar
*.f
*.dat
*.log*
*.key
*.conf
*.fsdb
*.rc
*.cmd*
*.zip
*.lef
*.old
*lef/
timingReports/
*.gds
*.rpt
library/
simv
simv.daidir/
nWaveLog/
csrc/
BSSLib.lib++/
b11901091_hw[0-9]/
spyglass-[0-9]/
INCA_libs/
